*{
    margin: 0;
    padding: 0;
    
}

.container{
    background-color:#f1f1f1;
    display:flex;
    justify-content: center;
}

section{
    
    padding: 24px 48px 24px 48px;
}

.slackUsername[data-slack-user-name="Friendz"]{
    background-color: tomato;
    padding: 8px;
}